<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Operación exitosa</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <style>
        /* Estilo general */
        body {
            text-align: center;
            margin: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
            background-color: #F9F5FF; /* Fondo lavanda suave */
            font-family: 'Arial', sans-serif;
            color: #4A4E69; /* Texto gris oscuro */
        }
    </style>
</head>
<body>
    <h1>¡Operación realizada con éxito!</h1>
    <p>Tu acción se completó satisfactoriamente.</p>
    <img src="{{ url_for('static', filename='chill1.jpg') }}" alt="Imagen de éxito">
    <div class="container">
        <a href="/" class="btn">Volver a inicio</a>
    </div>
</body>
</html>
